* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "PT Serif", serif;
  color: #333;
  padding: 2% 0 0 5%;
}

/*header*/
header {
  margin-top: 10%;
}

.id {
  padding: 2% 0;
}

.desc {
  padding: 0.5% 0;
}
/*main*/

main {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  column-gap: 10%;
  row-gap: 8%;
}

img {
  width: 100%;
}

.column_left {
  position: relative;
  top: 22%;
}
h4,
h5 {
  text-transform: capitalize;
}

h5 {
  transform: rotate(90deg);
  position: relative;
  left: 56%;
  bottom: 67%;
  font-weight: 300;
  text-transform: uppercase;
}

/*footer*/
footer {
  color: #a9a9a9;
}

.username {
  text-decoration: underline;
  font-weight: bold;
  text-transform: capitalize;
}

/*sm mobile*/
@media screen and (max-width: 320px) {
}

/*sm tablets*/
@media screen and (min-width: 425px) and (orientation: portrait) {
  body {
    font-size: 1rem;
  }

  h5 {
    bottom: 66%;
  }
}
/*md tablets*/
@media screen and (min-width: 576px) and (orientation: portrait) {
  body {
    font-size: 1.2rem;
  }

  h5 {
    bottom: 65%;
    left: 54%;
  }
}

/*lg tablets*/
@media screen and (min-width: 768px) and (orientation: portrait) {
  body {
    font-size: 1.2rem;
    padding: 0% 0 0 5%;
  }

  header {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 5%;
  }

  h5 {
    bottom: 65%;
    left: 54%;
  }
}

/*sm & md computers*/
@media screen and (min-width: 769px) and (orientation: landscape) {
  body {
    font-size: 1.15rem;
    padding: 0 15%;
  }

  header {
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }

  main {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 26.527%);
    column-gap: 10%;
    row-gap: 8%;
    min-height: 100vh;
  }

  .column_left {
    position: relative;
    top: 0;
  }

  .column_middle {
    position: relative;
    top: 35%;
  }
}

/* lg computers*/
@media screen and (min-width: 1440px) and (orientation: landscape) {
  body {
    font-size: 1.5rem;
    padding: 0 15%;
  }
  h5 {
    bottom: 50%;
    left: 53.5%;
  }

  .column_left {
    position: relative;
    top: 0;
  }
}
